.vscode/**
.vscode-test/**
src/**
.gitignore
.git/**
**/tsconfig.json
**/*.map
**/*.ts
node_modules/**
!node_modules/sql.js/package.json
!node_modules/sql.js/LICENSE
!node_modules/sql.js/dist/sql-wasm.js
dist/**
.commit-msg-*.txt
!media/**
